@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to the On .NET Live Show</h1>

Join members from the .NET team each week as they host and interview amazing .NET contributors from the .NET team and the community.
