@using OnDotnetLive.Models.Components.LabelBaseTypographies
@using OnDotnetLive.Views.Bases
@using OnDotnetLive.Views.Components.ContainerComponents

<ContainerComponent State=State>
    <Content>
        <ConditionBase Condition="TalkView != null">
            <Match>
                <CardBase>
                    <ImageBase @ref=ThumbnailImageBase Source=@TalkView.GuestThumbnailUrl Width="100%" />
                    <div style="height:70px">
                        <LabelBase @ref=TitleLabelBase Text=@TalkView.Title Typo="LabelBaseTypography.H4" />
                    </div>
                    <LabelBase @ref=DescriptionLabelBase Text="@TalkView.Description" Typo="LabelBaseTypography.Body" IsVisible=false/>
                    <LabelBase Text="With" Typo="LabelBaseTypography.Subject" />
                    <LabelBase @ref=NameLabelBase Text=@TalkView.GuestName Typo="LabelBaseTypography.H5" />
                    <SpacerBase />
                    <div style="justify-content:center">
                        <ButtonBase @ref=WatchButtonBase Text="Watch now" OnClick=@WatchNowClicked />
                    </div>
                </CardBase>
            </Match>
        </ConditionBase>
    </Content>
</ContainerComponent>